# Case Study on ANOVA

In [1]:
# importing pandas as pd
import pandas as pd

#Read dataset 
Data=pd.read_csv(r"Sales_data_zone_wise.csv")
Data.head()

       Month  Zone - A  Zone - B  Zone - C  Zone - D
0  Month - 1   1483525   1748451   1523308   2267260
1  Month - 2   1238428   1707421   2212113   1994341
2  Month - 3   1860771   2091194   1282374   1241600
3  Month - 4   1871571   1759617   2290580   2252681
4  Month - 5   1244922   1606010   1818334   1326062

# XYZ Company has offices in four different zones. The company wishes to investigate the following :
**● The mean sales generated by each zone**

In [2]:
#Finding mean
Data.mean()

Zone - A    1.540493e+06
Zone - B    1.755560e+06
Zone - C    1.772871e+06
Zone - D    1.842927e+06
dtype: float64

# Insight:
**The mean sales generated by different zones are :Zone-A (1.540493e+06),Zone - B(1.755560e+06),Zone - C(1.772871e+06) and Zone - D(1.842927e+06)**

# ●Total sales generated by all the zones for each month.

In [3]:
# Total sum for each month
pd.Series.sum(Data)

Month       Month - 1Month - 2Month - 3Month - 4Month - 5M...
Zone - A                                             44674301
Zone - B                                             50911228
Zone - C                                             51413260
Zone - D                                             53444876
dtype: object

In [4]:
#Total sum by each month
Data.sum(axis=1,skipna=True)

0     7022544
1     7152303
2     6475939
3     8174449
4     5995328
5     7151387
6     7287108
7     7816299
8     6703395
9     7128210
10    7032783
11    6111084
12    5925424
13    7155515
14    5934156
15    6506659
16    7149383
17    7083490
18    6971953
19    7124599
20    7389597
21    7560001
22    6687919
23    7784747
24    6095918
25    6512360
26    6267918
27    7470920
28    6772277
dtype: int64

# ● Check whether all the zones generate the same amount of sales.

# 
**Null hypothesis: all the zones generate the same amount of sales.**
<br>
**Alternate hypothesis: Not all the zones generate the same amount of sales.**
<br>
**Now we can perform a oneway analysis of variance using α=0.05**
</p>

In [7]:
#import scipy 
from scipy import stats
fvalue, pvalue = stats.f_oneway(Data['Zone - A'], Data['Zone - B'], Data['Zone - C'],Data['Zone - D'])
print('f-value:',round(fvalue,4),'p-value:',round(pvalue,4))
if pvalue <0.05:    # alpha value is 0.05 or 5%
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

f-value: 5.6721 p-value: 0.0012
we reject null hypothesis

# Insight:
**Here we reject the null hypothesis because p value is less than 0.05.**
<br>
**Therefore,Not all the zones generate the same amount of sales.**
</p>